{% assign gallery = page[include.id] %}
{% if include.display %}
  {% assign display = include.display %}
{% else %}
  {% assign display = 1000 %}
{% endif %}

<div class="gallery" id="{{ include.id }}">
  {% for item in gallery %}
  <a href="{{ item.image }}" {% if forloop.index > display %}style="display: none;"{% endif %}>
    <img src="{{ item.image }}" title="{{ item.title }}">
  </a>
  {% endfor %}
</div>

<script>
  $("#{{ include.id }}").photobox("a", { time: 0 });
</script>