<div class="sidebar">
  <div class="author-container shadow">
    <div class="author"><img src="{{site.data.main.image}}" width="100%" height="auto;" alt="{{site.title}}" onclick="location.href='/'"></div>
    <div class="about text-center"><h1 class="title"><a href="/{{site.baseurl}}">{{ site.data.main.author }}</a></h1></div>
    <div class="bio text-center">
      <p class="m0">{{ site.data.main.signature }}</p>
    </div>
    <hr class="dashed">
    <div class="social text-center">
      <ul class="portfolio p0">
        {% for item in site.data.main.menu %}
        <li><a {% if page.url contains item.link %}class="active"{% endif %} href="{{ item.link }}">{{ item.title }}</a></li>
		{% endfor %}
      </ul>
      <ul class="sm p0 m0a">
        {% for item in site.data.main.social %}
          <li><a href="{{ item.link }}" title="{{ item.title }}"><i class="{{ item.icon | slice: 0, 2 }} {{ item.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
    <div style="width:100px; margin:15px auto">
    <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=y8pu6e0XidZPRVfp4dm8eSw7Lc7f-EQQFdHjHRzVsKI"></script>
    </div>
  </div>
</div>
